{% extends 'OCPlatformBundle::layout.html.twig' %}

{% block title %}
Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
<h2>Supprimer une annonce</h2>

{{ include("OCPlatformBundle:Advert:form.html.twig")}}

<p>
	Votre annonce a bien été supprimée !
</p>

<p>
	<a href=" {{ path('oc_platform_home', { 'id': advert.id} ) }} " class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"> </i>
		Retour à la plateforme d'annonces.
	</a>

</p>

{% endblock %}